/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.example-fill-remaining-space{
    margin: 0 auto;
    }
.list-name{
    
    padding-top: 1%;
    
}
.article-list{
    width: 100%;
}
.my-table{
    width: 50%;
    min-width: 300px;
    
}